extends layout

block content
    .container-fluid
        .row
            .col-md
                table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
                    thead.thead-dark
                        th Дата
                        th Магазин
                        th Мойка(услуги)
                        th Действие
                    tbody.cashbox