extends layout

block content
    .container-fluid
        .row
            .d-inline-flex.p-2
                each item in product
                    .product-main.p-2(data-price=item.price)=item.name
        .row
            .col-md
                table.table.product-main-table.table-hover
                    thead
                        th Наименование услуги
                        th Цена
                        th Кол-во
                    tbody.product-main-body
                        each item in productReady
                            tr.quantity-minus
                                td.product-main-name=item.name
                                td.product-main-price=item.price
                                td.quantity-main.qm=item.quantity
        .row
            .col-md
                button.btn.btn-outline-info.float-right(type='button', id="saveProductMain") Сохранить