extends layout

block content
    .container-fluid
        .row
            .col-md
                .input-group.mb-3
                    input#marks.form-control(type='text', placeholder="Марка")
            .col-md
                button.btn.btn-outline-info(type='button', id="addMarks") Добавить
        .row
            .col-md
                table.table.table-hover.table-sm.mt-3
                    thead.thead-dark
                        th Марка
                        th Действие
                    tbody.marks
                        each item in marks
                            tr
                                td.refMarks(contenteditable="true", data-id=item._id)=item.marka
                                td
                                    button.btn.btn-outline-dark.delMarks(type="button", data-id=item._id) Удалить
