nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
    a.navbar-brand(href='/admin') Администратор
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/admin/persons') Персонал
            li.nav-item
                a.nav-link(href='/admin/marks') Марки машин
            li.nav-item
                a.nav-link(href='/admin/clients') База клиентов
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Расходы
                .dropdown-menu
                    a.dropdown-item(href='/admin/costs') Основные расхода
                    a.dropdown-item(href='/admin/dop') Расходы на дополнительные услуги
                    a.dropdown-item(href='/admin/tea') Расходы на чай
                    a.dropdown-item(href='/admin/coffee') Расходы на кофе
                    a.dropdown-item(href='/admin/prize') Расходы на премии
            li.nav-item
                a.nav-link(href='/admin/services') Услуги
            li.nav-item
                a.nav-link(href='/admin/dopservices') Доп. услуги
            li.nav-item
                a.nav-link(href='/admin/prepaid') Аванс
            li.nav-item
                a.nav-link(href='/admin/fine') Штраф
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Добавить
                .dropdown-menu
                    a.dropdown-item(href='/admin/add/costs') Основные
                    a.dropdown-item(href='/admin/add/dop') Дополнительные услуги
                    a.dropdown-item(href='/admin/add/score') Магазин
            li.nav-item
                a.nav-link(href='/admin/cashbox') Касса
            li.nav-item
                a.nav-link(href='/admin/graphicjob') График работ
            li.nav-item
                a.nav-link(href='/admin/encashment') Инкассация
            li.nav-item
                a.nav-link(href='/admin/report') Отчетность
        button.btn.btn-outline-light(onclick="window.location.href='/'; return false;") Выход

