extends layout

block content
    .container-fluid
        .row
            .col-md.d-flex.align-content-stretch.flex-wrap.justify-content-center
                .card.status(style='width: 18rem; margin: 0 20px;')
                    a(href="/box?number=1")
                        img.card-img-top(src='./img/1.png', alt='Card image cap')
                    .card-body
                        p.card-text
                            | 1 бокс #{box1.toFixed(2)}
                        p.time.card-text=moment(box1.toFixed(2).toString(), 'h.mm').format('hh:mm:ss')
                .card.status(style='width: 18rem; margin: 0 20px;')
                    a(href="/box?number=2")
                        img.card-img-top(src='./img/1.png', alt='Card image cap')
                    .card-body
                        p.card-text
                            | 2 бокс
                .card.status(style='width: 18rem; margin: 0 20px;')
                    a(href="/box?number=3")
                        img.card-img-top(src='./img/1.png', alt='Card image cap')
                    .card-body
                        p.card-text
                            | 3 бокс
                .card.status(style='width: 18rem; margin: 0 20px;')
                    a(href="/box?number=4")
                        img.card-img-top(src='./img/1.png', alt='Card image cap')
                    .card-body
                        p.card-text
                            | 4 бокс
                .card.status(style='width: 18rem; margin: 0 20px;')
                    a(href="/box?number=5")
                        img.card-img-top(src='./img/1.png', alt='Card image cap')
                    .card-body
                        p.card-text
                            | 5 бокс