extends layout

block content
  .container-fluid
    .row
      .col-md
        .form-group
          select#administrator.custom-select.valid-btn
            option Администратор
            each item in administrators
              option(value=item.fio)=item.fio
      .col-md
        .form-group
          input#number.form-control.valid-btn(type='text', placeholder="Номер")
      .col-md
        .form-group
          include select-marka
      .col-md
        .form-group
          select#washer.custom-select.valid-btn
            option Мойщик
            each item in persons
              option(value=item.fio)=item.fio
      .col-sm-3
        button.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#modalService', id="modalOne", disabled)
          | Услуги
        include modalUslug
      //.col-sm
      //  button.btn.btn-outline-primary(type='button', data-toggle='modal', id="modalTwo")
      //    | Доп услуги
      include modalDopUslug
      include modalRedactUslug
  include table