#modalRedactService.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Услуги
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body.set-redact-service
            .modal-header
                h5.modal-title.info-redact-service Выбрано 0
            .modal-body.redy-redact-service
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary(type='button', id="saveRedact") Сохранить
