.input-group.mb-3
    .input-group-prepend
        label.input-group-text(for='marka') Марка
    select#marka.custom-select.valid-btn
        option(selected='')
        each item in marks
            option(value=item.marka)=item.marka

    //option(value='Бмв') Бмв
    //option(value='Тойота') Тойота
    //option(value='Хендай') Хендай
    //option(value='Рендж Ровер') Рендж Ровер
    //option(value='Лексус') Лексус
    //option(value='Ровер') Ровер
    //option(value='VW') VW
    //option(value='Порш') Порш
    //option(value='Инфинити') Инфинити
    //option(value='Ниссан') Ниссан
    //option(value='Форд') Форд
    //option(value='Вольво') Вольво
    //option(value='Ягуар') Ягуар
    //option(value='Субару') Субару
    //option(value='Киа') Киа
    //option(value='Мазда') Мазда
    //option(value='Митсубиси') Митсубиси
    //option(value='Опель') Опель
    //option(value='Пежо') Пежо
    //option(value='Рено') Рено
    //option(value='Ауди') Ауди
    //option(value='Хонда') Хонда
    //option(value='Лада') Лада
    //option(value='Хонда') Хонда
    //option(value='Шкода') Шкода
    //option(value='Дайхатсу') Дайхатсу
    //option(value='Датсун') Датсун
    //option(value='Лексус') Лексус
    //option(value='Субару') Субару
    //option(value='Сузуки') Сузуки
    //option(value='Кадилак') Кадилак
    //option(value='Шевроле') Шевроле
    //option(value='Крайслер') Лексус
    //option(value='Додж') Додж
    //option(value='Джиип') Джиип
    //option(value='Линкольн') Линкольн
    //option(value='Понтиак') Понтиак
    //option(value='Тесла') Тесла
    //option(value='Део') Део
    //option(value='Альфа ромео') Альфа ромео
    //option(value='Астон мартин') Астон мартин
    //option(value='Бентли') Бентли
    //option(value='Бугатти') Бугатти
    //option(value='Ситроен') Ситроен
    //option(value='Феррари') Феррари
    //option(value='Фиат') Фиат
    //option(value='Ягуар') Ягуар
    //option(value='Ламбаргини') Ламбаргини
    //option(value='Лэнд ровер') Лэнд ровер
    //option(value='Мазерати') Мазерати
    //option(value='Майбах') Майбах
    //option(value='Лэнд ровер') Лэнд ровер
    //option(value='Ролс ройс') Ролс ройс