.input-group-prepend
    label.input-group-text(for='marka') Марка
select#marka.custom-select.valid-btn
    option(selected='')
    option(value='Мерседес') Мерседес
    option(value='Бмв') Бмв
    option(value='Тойота') Тойота
    option(value='Хендай') Хендай
    option(value='Рендж Ровер') Рендж Ровер
    option(value='Лексус') Лексус
    option(value='Ровер') Ровер
    option(value='VW') VW
    option(value='Порш') Порш
    option(value='Инфинити') Инфинити
    option(value='Ниссан') Ниссан
    option(value='Форд') Форд
    option(value='Вольво') Вольво
    option(value='Ягуар') Ягуар
    option(value='Субару') Субару
    option(value='Киа') Киа
    option(value='Мазда') Мазда
    option(value='Митсубиси') Митсубиси
    option(value='Опель') Опель
    option(value='Пежо') Пежо
    option(value='Рено') Рено