.container-fluid
    .row
        .col-sm
            table.table.table-striped.table-bordered.table-hover.table-sm
                thead.thead-dark
                    th Марка
                    th Номер
                    th Услуги
                    th Мойщик
                    th Сумма
                tbody.tr-body