body {
  padding: 50px;
  font: 14px "Exo", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.service{
  border-radius: 5px;
  background-color: #1b1e21;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}

.service-dop{
  border-radius: 5px;
  background-color: #1b1e21;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}

.service-ready{
  border-radius: 5px;
  background-color: #28a745;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}

.service-dop-ready{
  border-radius: 5px;
  background-color: #28a745;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}

.type-auto{
  border-radius: 5px;
  background-color: #17a2b8;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 23px;
  line-height: 2em;
  cursor: pointer;
}
.type-dop-auto{
  border-radius: 5px;
  background-color: #17a2b8;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 23px;
  line-height: 2em;
  cursor: pointer;
}

.activeType{
  background: #1a6773;
}
.delete:hover{
  cursor: pointer;
  color: #585858;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease 0.1s;
}
td.d-flex.justify-content-center button{
  margin-right: 10px;
}

.product, .product-dop, .product-main{
  border-radius: 5px;
  background-color: #1b1e21;
  color: #f8f9fa;
  margin: 5px;
  height: 3em;
  width: auto;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
}
.quantity-minus{
  cursor: pointer;
}